<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="logo.png" alt="logo sajta">
        <h1>Nike Shop</h1>
        <nav>
            <ul>
                <li>Zenska</li>
                <li>Muska</li>
                <li>Decja</li>
            </ul>
        </nav>
    </header>
    <main>Ovo je main</main>
    <footer>Ovo je futer Sofija Miljkovic 4.6B</footer>

</body>
</html>